@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    -webkit-font-smoothing: antialiased;
    background: linear-gradient(10deg, hsla(200, 0%, 5%, 1), hsla(200, 0%, 0%, 1));
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

main.container{
    display: flex;
    flex-direction: column;
    max-width: 80vw; 
    min-height: 40vh;
    padding: 2rem 2rem;
  }


main h1{
    color: #e1e1e6;
    text-align: center;
    font-size: 2rem;
    position: relative;
}


main.container a{
    margin-top: 1.5rem;
    text-align: center;
    font-size: 0.8rem;
    text-decoration: none;
    color: #1a7993;
    transition: 0.2s ease-in-out;
}

main.container a:hover{
    color: #28abcf;
}

main.container input[type="submit"]{
    margin-top: 1.5rem;
    font-size: 0.8rem;
    border-radius: 0.5rem;
    padding: 0.4rem;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 800;
    color: #e1e1e6;
    background: #1a7993;
    transition: all 0.3s ease;
}
main.container input[type="submit"]:hover{
    letter-spacing: 1px;
    background: #28abcf;
}


main.container .input-field input{
    width: 100%;
    margin-top: 1.5rem;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 1px solid #fff;
    font-size: 0.8rem;
    color: #e1e1e6;
}

#detectEmail{
    margin-top: 0.4rem;
    font-size: 0.8rem;
    color: #f55353;
    display: none;
}

@media only screen and (max-width: 425px){
    .container h1{
        font-size: 1.5rem;
    }

}