@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root{
--hue: 200;
--basic-color: #e1e1e6;
--second-color: #1a7993;
--active-color: #28abcf;
}

body{
    background: linear-gradient(10deg, hsla(var(--hue), 0%, 5%, 1), hsla(var(--hue), 0%, 0%, 1));
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fadeIn {
    position: relative;
    animation: fadeIn 0.6s ease;
}
@keyframes fadeIn {
    0% { left: 60px; opacity: 0;  }
    100% { left: 0px; opacity: 1; }
}

a {
    text-decoration: none;
    margin: auto;
    color:var(--second-color);
    transition: 0.2s ease-in-out;
}
a:hover{
    color: var(--active-color);
}

.main-signup{
    display: flex;
    flex-direction: row;
}

.left-signup{
    width: 100%;
    max-width: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 34px;
}

.card-signup h1{
    color: var(--basic-color);
    font-size: 25px;
    margin-bottom: 39px;
}

.card-signup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 64px;
    border-radius: 8px;
    background: hsla(var(--hue), 0%, 10%, 1);
}

.card-signup span{
    color: var(--basic-color);
    font-weight: normal;
    font-size: 0.8rem;
}

.text-field{
    margin: 10px auto;
    width: 100%;
    border-bottom: 1px solid var(--basic-color);
    padding-top: 10px;
    padding-bottom: 1px;
}

#email{
    width: 100%;
}
#name{
    width: 100%;
}

.text-field input{
    width: 90%;
    color: var(--basic-color);
    outline: none;
    background: transparent;
    font-size: 0.8rem;
}

.eye{
    cursor: pointer;
    position: absolute;
}

#eyeHideOn{
    display: none;
    color: var(--second-color);
}

#eyeHideOnSecond{
    display: none;
    color: var(--second-color);
}

.card-signup span i{
    color: var(--second-color);
}

.card-signup input[type="submit"]{
    margin: 25px auto 20px;
    width: 100%;
    padding: 10px 0;
    display: block;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 800;
    color: var(--basic-color);
    background: var(--second-color);
    transition: all 0.2s ease-in-out;
}

.card-signup input[type="submit"]:hover{
    letter-spacing: 3px;
    background: var(--active-color);
}

.card-signup span{
    text-align: center;
}

.right-signup img{
    width: 20vw;
}

.right-signup{
    width: 100%;
    max-width: 480px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 34px;
}

.box-right{
    color: var(--basic-color);
    font-size: 0.9rem;
}

.box-right h1{
    font-size: 32px
}

.zone-text{
    margin-bottom: 39px;
}


@media only screen and (max-width: 880px) {
    .main-signup{
        flex-direction:column-reverse;
    }

    .left-signup{
        width: 100%;
        height: auto;
    }
    
    .right-signup{
        width: 100%;
        height: auto;
    }    
}

@media only screen and (max-width: 600px) {
    .right-signup img{
        display: none;
    }
    .box-right h1{
        font-size: 25px
    }
    .box-right{
        font-size: 0.8rem;
    }
    .text-field input{
        font-size: 0.7rem;
    }
    .card-signup span{
        font-size: 0.7rem;
    }
    .card-signup h1{
        font-size: 20px;
    }
}